/*
 -------------------------------------------------------------------------------
 * Copyright (c) 2016, Michel RIZZO (the 'author' in the following)
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License
 * as published by the Free Software Foundation; either version 2
 * of the License, or (at your option) any later version.
 * 
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 * 
 * You should have received a copy of the GNU General Public License
 * along with this program; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
 -------------------------------------------------------------------------------
*/
body			{ font-family: sans-serif; font-size: 10pt; }
#header			{ background: #A80000; height: 75px; }
#title			{ width: 100%; height: 75px; top: 0; left: 0; background: #A80000; }
#title h1		{ font: bold 200% arial, sans-serif; border-bottom: 0; text-transform: none;
				  text-align: right; margin: 0; padding: 12px 30px 0 0; color: #FFF; }
#title h2		{ font: normal 150% arial, sans-serif; border-bottom: 0; text-transform: none;
				  text-align: right; margin: 0; padding: 4px 30px 0 0; color: #DDD; }
#trailer		{ background: #A80000; height: 16px; }
#trailer p		{ font: normal 100% arial, sans-serif; height: 16px; text-align: left; line-height: 1.2em;
				  background: #A80000; padding: 8px 0 5px 10px; color: #DDD; letter-spacing: 0.1em; }
h3				{ font-size: 10pt; text-decoration: underline; }
table			{ border-collapse: collapse; }
table, th, td	{ border: 1px solid black; font: normal 100% arial, sans-serif; text-align: center; padding: 4px 4px 0 0; }
div.img			{ margin: 5px; border: 1px solid #ccc; float: left; width: 180px; }
div.img:hover	{ border: 1px solid #777; }
div.img img		{ width: 100%; height: auto; }
sup				{ vertical-align: super; font-size: 10pt; }
.retrait		{ margin-left:20px; }
.clearfix:after	{ content: ""; display: table; clear: both; }
